# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# we use maven!
build.xml

# maven
/target
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
target
build
bin
dist
manifest.mf
package

# files for dev that don't need to go to repo
exclude

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
